@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
}

section {
    height: 350px;
    width: 400px;
}

section .caixa {
    position: relative;
    height: 300px;
    width: 100%;
    border-radius: 5px;
    border: 2px dashed rgb(105, 105, 105);
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}

.caixa.active {
    border: none;
}

.caixa figure {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa figure img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.caixa-img {
    display: flex;
    flex-direction: column;
}
.caixa-img #upload {
    font-size: 100px;
    color: #4d5ef0;
}

.caixa-img #text {
    color: #4d5ef0; 
}

.caixa #close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #4d5ef0;
    cursor: pointer;
    display: none;
}

.caixa #close:hover {
    color: #fa4444;
}

.caixa.active:hover #close {
    display: block
}

.caixa .file-name {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #4d5ef0;
    color: #fff;
    padding: 5px 0;
    display: none;
}

.caixa.active:hover .file-name {
    display: block;
}

input {
    visibility: hidden;
}

button {
    margin-top: 15px;
    width: 100%;
    height: 45px;
    display: block;
    border: none;
    border-radius: 30px;
    color: #fff;
    background: #4d5ef0;
    transition: 0.4s ease;
    transform: scale(1);
    cursor: pointer;
    letter-spacing: 3px;
    text-transform: uppercase;
}

button:hover {
    background: #3844af;
}

button:active {
    transform: scale(0.93); 
}